singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=20.10.0'
trace.enabled = true
report.enabled = true
dag.enabled = true

//
// You may need to change this, based on your computing environment
//

// If you use a workload manager besides SLURM, you can replace 'slurm' with the relevant workload manager, if supported: https://www.nextflow.io/docs/latest/executor.html
// If you don't use a supported workload manager, you can replace 'slurm' with 'local'
process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs"'
    clusterOptions='--account=scjp0'
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
// singularity.cacheDir = "/scratch/scjp_root/scjp0/${USER}/singularity-cache"

// if the executor above is set to 'local' (i.e. you aren't using a supported workload manager),
// specify the computing resources available for running commands on your machine here
executor {
    name = 'local'
    cpus = 5
    memory = '300 GB'
}

//
// Below are the key file names you'll need to change
//

params.blacklist = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38-blacklist.bed.gz', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/mm10-blacklist.bed.gz']
params.chrom_sizes = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38.chrom_sizes', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/mm10.chrom_sizes']
params.bwa_index = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/topmed/bwa/0.7.15/hg38/hg38', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/bwa/0.7.15/mm10/mm10']
params.tss = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/topmed/tss/hg38.gene-name.tss.bed', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/mm10.gencode.tss.bed.gz']
params.plot_signal_at_genes = ['GAPDH', 'MYH1', 'MYH2', 'MYH7'] // if these genes exist in the TSS file, ATAC signal near their TSS will be visualized
