//
// There should be no need to change this
//

singularity.autoMounts = true
nextflowVersion = '>=19.04.1'

//
// Filter out nuclei with low read counts before running ataqv (to reduce memory usage). Low read count threshold is set here.
//
params.low_read_count_threshold = '2000'

//
// Below are the key file names you'll need to change
//

params.blacklist = ["hg19": ["/lab/data/reference/human/hg19/annot/wgEncodeDacMapabilityConsensusExcludable.bed.gz", "/lab/data/reference/human/hg19/annot/wgEncodeDukeMapabilityRegionsExcludable.bed.gz"], "mm9": ["/lab/data/reference/mouse/mm9/annot/mm9-blacklist.bed.gz"], "rn6": ["/lab/work/porchard/data/mappability.new/rn6.blacklist.1.bed.gz"]]
params.chrom_sizes = ["hg19": "/lab/data/reference/human/hg19/hg19.chrom_sizes", "rn6": "/lab/work/porchard/data/chrom_sizes/rn6.chrom_sizes"]
params.bwa_index = ["hg19": "/lab/work/porchard/data/bwa/hg19/hg19", "rn6": "/lab/work/porchard/data/bwa/rn6/rn6"]
params.tss = ["hg19": "/home/porchard/github/ataqv/data/tss/hg19.tss.refseq.bed.gz", "rn6": "/home/porchard/github/ataqv/data/tss/rn6.tss.refseq.bed.gz"]
params.gene_bed = ["hg19": "/lab/work/porchard/data/liger-features/hg19-features.bed", "rn6": "/lab/work/porchard/data/liger-features/rn6-features.bed"]
params['barcode-whitelist'] = "/home/porchard/github/snATACseq-NextFlow/737K-cratac-v1.txt"
